<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="NuGet official" value="https://www.nuget.org/api/v2/" /> <!-- Official package source  -->
  </packageSources>
</configuration>